#parent {
    border: 2px solid red;
    width: 90vw;
    height: 350px;
    
}
.child{
    border: 2px solid rgb(226, 53, 211);

    height: 40px;
    width: 40px;
}
#parent{
    display: flex;
  /*  flex-direction: column-reverse; */
  flex-direction: row;
 justify-content: center; 
 justify-content: space-evenly;
}
  